h1 {
  margin: 0.4em 0;
}

#action-div {
    border: 1px solid #cecece;
}

#product-list {
    background-color: #e6e6e6;
}

#order-details {
    background-color: #b3b3b3;
}

body {
    background-color: #999;
    font: 16px/1 'Open Sans', sans-serif;
}

#wrapper {
    background-color: #fff;
    padding: 0.5in;
}

.invoice-title {
    background: #000;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 5px;
}

.address-details {
    line-height: 0.5;
}

